<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectKP"
        tools:targetApi="31">
        <activity
            android:name=".SupplierActivity"
            android:exported="false" />
        <activity
            android:name=".DetailBarangKeluarActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentBarangKeluar"
            android:exported="false" />
        <activity
            android:name=".PemasukkanPenjualanActivity"
            android:exported="false" />
        <activity
            android:name=".DetailBarangMasukActivity"
            android:exported="false" />
        <activity
            android:name=".BarangMasukActivity"
            android:exported="false" />
        <activity
            android:name=".PemberitahuanActivity"
            android:exported="false" />
        <activity
            android:name=".StokBarangActivity"
            android:exported="false" />
        <activity
            android:name=".PilihanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TambahSupplierActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RestockActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SidebarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TambahPenjualan"
            android:exported="false" />
        <activity
            android:name=".ui.OrderPenjualan"
            android:exported="false" />
        <activity
            android:name=".white_overlay"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>